.icon{
    background-image: url('/public/vite.svg');
}
.MDBBtn{
    background-color: var(--verde);
}
.textoCadastro{
    display: flex;
    gap: 0.2rem; 
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.textoCadastro span{
    color: var(--verde);
    cursor: pointer;
}

.imagemLateral {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}
.imagem{
    max-width: 70%;
    height: auto;

}
.textoImagem{
    font-size: 1rem;
    margin-top: 2px;
}
.MDBCol{
    background-color: var(--branco);
}