:root{
    --branco: #ffffff;
    --preto: #272727;
    --verde: #17571D; 
    --verde-claro: #7BA63C; 
    --cinza: #D9D9D9; 
    --vermelho:#CC2F21;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    background-color: var(--branco);
}
body, input, textarea,button{
    font-size: 1rem; 
    font-family: sans-serif;
}
